@font-face { 
    font-family: TT Wellingtons Trial Regular;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Regular.otf);
  }
  
  @font-face {
  font-family: TT Wellingtons Trial Bold;
  src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Bold.otf);
  }
  @font-face {
    font-family: TT Wellingtons Trial DemiBold;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ DemiBold.otf);
    } 
.flex-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 5%;
    height: 100vh;
}
.appointment-form {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 400px;  
    margin-top:0;

     
}
.appointment-form h1 {
    text-align: center;
    font-size: 2em;
    font-family: TT Wellingtons Trial Bold;
}
      
.appointment-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
       
}
      
.appointment-form input[type="text"],
.appointment-form input[type="time"]
.appointment-form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
       
}

.appointment-form button[type="submit"] {
    background-color: #4caf50;
    color: #ffffff;
    margin:20px 20px 20px 65px;
    padding: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
}
.appointment-form button[type="submit"]:hover {
    background-color: #45a049;
  }

      
    
      