@font-face { 
  font-family: TT Wellingtons Trial Regular;
  src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Regular.otf);
}

@font-face {
font-family: TT Wellingtons Trial Bold;
src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Bold.otf);
}
@font-face {
  font-family: TT Wellingtons Trial DemiBold;
  src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ DemiBold.otf);
  } 
.edit-profile{
  display: flex;
  flex-direction: column;
  align-items:center;
  min-height:80vh;
  background-color: white;
  width:500px;
  margin:0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  margin-bottom:50px;
}
.edit-profile h1{
padding-top: 18px;
font-family:TT Wellingtons Trial DemiBold ;
color: black;
text-transform: uppercase;
font-size: 1.4em;
margin-bottom: 3px;
}

 .user_profile form{
  max-height: 10vh;

} 
.edit-profile form label{
color:black;
margin-bottom: 0;

}

.btn-changes{
background-color:darkblue;
color: #fff;
font-size: 1.3em;
border-radius: 5px;
width:100%;
margin-top:10px;
margin-bottom: 10px;
}
input{
width:100%;
border-radius: 5px;
padding:10px;
}

