@font-face {
    font-family: TT Wellingtons Trial ExtraBold;
    src: url('/bookingsys/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ ExtraBold.otf');
  }
  @font-face {
    font-family: TT Wellingtons Trial Regular;
    src: url('/bookingsys/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Regular.otf');
}
@font-face {
    font-family: TT Wellingtons Trial DemiBold;
    src: url('/bookingsys/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ DemiBold.otf');
}

.intro{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 70vh;
   

}
.statement, .pic{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.statement{
    color: #001855;

   /* color: rgb(15, 15,20);*/
    
}
.sentiment{
    font-size: 2.5em;
    line-height:145%;
    display: flex;
    flex-direction:column;
    margin-top:30%;
    flex-wrap:wrap;
    white-space:nowrap;
    width:79%;
    font-family: TT Wellingtons Trial DemiBold;
    font-weight:900;
    font-style: normal;
   padding-left: 0;
}

.pic{
   background-image: url('../images/withparents2-transformed.jpeg');
    background-size: cover;
    outline: none;
    object-fit: contain;
    
    
}
.our-thing{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 300vh;
}
.purpose{
    border-color: blue;
    display: flex;
    flex-direction: column;
    width:50%;
    padding-left: 55px;
    color: #151520;
    font-style: normal;
    font-weight: 500;
    font-family: TT Wellingtons Trial DemiBold;
    font-size: 20px;
    margin-top: 0;
}
.capture{
    margin-top: 6%;
}


.container-1{
    width: 50%;
    font-family: TT Wellingtons Trial Regular;
    font-style: normal;
    font-size:22px;
    font-weight: 400;
    color: #757575;
    padding-left: 0;
    margin-top: 3%;
    line-height: 33px;
    
}
.vaccine{
    margin-top: 50%;
    background-image: url('../images/hepatitis_a-transformed.jpeg');
    background-size: cover;
    width: 99%;
    height:17%;
    
}
.vaccine2{
    margin-top: 35%;
    background-image:url('../images/measles-transformed.jpeg') ;
    background-size: cover;
    width:99%;
    height: 20%;

}
.ourmission{
    color: black;
    font-family: TT Wellingtons Trial Regular;
    font-weight: bolder;
    font-size: 1.2em;
    line-height: 1.5;

}
.happy{
    margin-top: 117.7%;
    background-image: url('../images/withparents-transformed.jpeg');
    background-size: cover;
    width: 99%;
    height:19%;
    
}
.happier{
    width: 99%;
    background-image: url('../images/child1-transformed.jpeg');
    height:19.37%;
    background-size: cover;
    margin-top: 14.7%;
}

 

