@font-face {
    font-family: TT Wellingtons Trial Regular;
    src: url(/bookingsys/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Regular.otf);
}

@font-face {
  font-family: TT Wellingtons Trial Bold;
  src: url(/bookingsys/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Bold.otf);
}
body {
    background-color: rgb(41, 51, 82);
    font-family:TT Wellingtons Trial Regular;
  }
   .logo{
    color: white;
    font-family:TT Wellingtons Trial ExtraBold ;
    font-size: 20px;
    line-height: 10px;
    padding: 0 100px;
    font-weight:bolder;
   }

    
  .login-form{
    width: 360px;
    height: 460px;
    margin: auto;
    border-radius: 14px;
    background-color: white;
  }
  h1 {
    font-family: TT Wellingtons Trial Bold;
    text-align: center;
    padding-top: 15px;
    font-weight: 900;
  }
  form {
    width: 300px;
    margin-left: 20px;
  }
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  .button-style {
    width: 320px;
    height: 35px;
    margin-top: 20px;
  }
  .login-button {
    border: none;
    background-color: blue;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    margin-top: 12px;
  }
  /* .button-style {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
    border-radius: 6px;
  } */
  .reset-pass{
    text-align: center;
    padding-top: 8px;
    font-size: 1.3em;

  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
  }
  .para-2 a {
    color: #49c1a2
  }
  
/* }
  .login-box {
    width: 360px;
    height: 500px;
    margin: auto;
    border-radius: 14px;
    background-color: white;
  }
  
  h1 {
    font-family: TT Wellingtons Trial Bold;
    text-align: center;
    padding-top: 15px;
    font-weight: 900;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  .button-style {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
    border-radius: 6px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #49c1a2;
  }*/
  