@font-face {
    font-family: TT Wellingtons Trial Regular;
    src: url(/bookingsys/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Regular.otf);
}

@font-face {
  font-family: TT Wellingtons Trial Bold;
  src: url(/bookingsys/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Bold.otf);
}

body {
    background-color: rgb(41, 51, 82);
    font-family:TT Wellingtons Trial Regular;
  }

.gevac{
    color: white;
    font-family:TT Wellingtons Trial ExtraBold ;
    font-size: 20px;
    line-height: 10px;
    padding: 0 100px;
    font-weight:bolder;
  }
  h1 {
    font-family: TT Wellingtons Trial Bold;
    text-align: center;
    padding-top: 15px;
    font-weight: 900;
  }
  .logout_message {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
  }
  .logout_message a {
    color: #49c1a2
  }