@font-face { 
    font-family: TT Wellingtons Trial Regular;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Regular.otf);
  }
  
  @font-face {
  font-family: TT Wellingtons Trial Bold;
  src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Bold.otf);
  }
  @font-face {
    font-family: TT Wellingtons Trial DemiBold;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ DemiBold.otf);
    } 
.whole{
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    height: 70vh;
   
}
.whole i{
    font-size: 115px;
    color: blue;


}
.modify_pass{
    
    padding-top: 1%;
    padding-bottom: 10%;
    font-family:TT Wellingtons Trial DemiBold; 
 
}
/* .icons{
    
    font-size: 115px;
    justify-content: center;
    margin-top: 9%;
    size-adjust: 30px;
    color: blue;
    cursor: pointer;
  
} */
