@font-face { 
    font-family: TT Wellingtons Trial Regular;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Regular.otf);
  }
  
  @font-face {
  font-family: TT Wellingtons Trial Bold;
  src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Bold.otf);
  }
  @font-face {
    font-family: TT Wellingtons Trial DemiBold;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ DemiBold.otf);
    } 

.confirm{
    display: flex;
    flex-direction: column;
    background-color:#fff;
    margin-top: 8px;
    padding-left: 2%;
    text-align: left;
    height:70vh;   
    font-family:TT Wellingtons Trial Regular  ;
}
.confirm h1, p{
    text-align: center;
}
form input{
    margin-top: 15px;
    font-family:TT Wellingtons Trial Regular ;
    /* font-size: 1.em; */
    /* padding-top: 5px; */
    /* padding: 10px; */
}
