@font-face { 
    font-family: TT Wellingtons Trial Regular;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Regular.otf);
  }
  
  @font-face {
  font-family: TT Wellingtons Trial Bold;
  src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Bold.otf);
  }
  @font-face {
    font-family: TT Wellingtons Trial DemiBold;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ DemiBold.otf);
    } 
.reset-done{
    /* background-color:#fff; */
    text-align: center;
    min-height: 100vh;
    background-color: #fff;
    }

.reset-done i{
    /* display: flex; */
    font-size: 115px;
    justify-content: center;
    margin-top: 15%;
    size-adjust: 30px;
    color: green;
    cursor: pointer;
}


.reset-done p{
    font-family:  TT Wellingtons Trial Regular;
    font-size: 1.3em;
}