@font-face { 
    font-family: TT Wellingtons Trial Regular;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Regular.otf);
  }
  
  @font-face {
  font-family: TT Wellingtons Trial Bold;
  src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Bold.otf);
  }
  @font-face {
    font-family: TT Wellingtons Trial DemiBold;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ DemiBold.otf);
    } 

.confirm{
    background-color:#fff;
    padding-left: 2%;
    text-align: left;
    height:100vh;   
    font-family:TT Wellingtons Trial DemiBold ;

}
.confirm h1{
    margin-top: 2%;
    padding-bottom: 2%;
  
}
.invalid{
    font-family:TT Wellingtons Trial Regular;
    font-size: 1.3em;
    color: black;
}
