@font-face { 
    font-family: TT Wellingtons Trial Regular;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Regular.otf);
  }
  
  @font-face {
  font-family: TT Wellingtons Trial Bold;
  src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Bold.otf);
  }
  @font-face {
    font-family: TT Wellingtons Trial DemiBold;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ DemiBold.otf);
    } */


*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    /* font-family:TT Wellingtons Trial Regular; */
  }

.change_pass{
  display: flex;
  flex-direction:column;
  padding-top: 20px;
  height: 70vh;
}
.change_pass h1{
  padding-top: 2%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  
}

form {
    display: flex;
    width: 470px;
    height: 370px;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

form input {
    width: 100%;
    padding: 10px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
.change{
    width:16%;
    height: 35px;
    margin-left:41%;
    margin-top: 30px;
    border: none;
    background-color: blue;
    /* background-color: #49c1a2; */
    color: white;
    font-size: 18px;
    border-radius: 6px;
}


















