@font-face { 
    font-family: TT Wellingtons Trial Regular;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Regular.otf);
  }
  
  @font-face {
  font-family: TT Wellingtons Trial Bold;
  src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Bold.otf);
  }
  @font-face {
    font-family: TT Wellingtons Trial DemiBold;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ DemiBold.otf);
    } 

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
  
      .rescheduling-form {
        max-width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
  
      .rescheduling-form label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }
  
      .rescheduling-form input[type="text"],
      .rescheduling-form select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;
      }
  
      .rescheduling-form button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }
      .rescheduling-form button:hover {
        background-color: #45a049;
      }