{% extends "global-base.html" %}

{% block styles %}
{{ block.super }}
<style>
    body { background-color: #f9f9f9; }
    .card {
        margin-top: 50px;
    }
    
    .card-header {
        background-color: #007bff;
        color: #fff;
    }
</style>
{% endblock styles %}

{% block content %}
<main class="container">
    <section class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="h3">Gevac Admin: Logged Out</h2>
                </div>

                <div class="card-body">
                    <p class="fs-5">You have been logged out. <a href="{% url 'admin:login' %}">Click here to log back in.</a></p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}