{% extends 'main.html' %}
{% load static %}

{% block title %}Login - Infant Immunization System{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'system/css/auth/login.css' %}">
{% endblock styles %}


{% block content %}
{% include 'system/components/messages.html' %}
<h1 class="logo-login">GEVAC</h1>

<div class="login-form">
  <h1 class="title-login">Login</h1>
  <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
       <input type="hidden" name="next" value="{{ next }}" />

       <div class="button-style">
        <input type="submit" value="Log-in" id="btn-login">
      </div>
  </form>

  <a href="{% url "password-reset" %}" class="reset-pass">Forgotten password?</a>
</div>

<p class="para-2">
  Not have an account? <a href="{% url 'register' %}">Sign Up Here</a>
</p>
{% endblock content %}


{% block navigation %}{% endblock navigation %}
{% block footer %}{% endblock footer %}
{% block gfonts %}{% endblock gfonts %}
