{% extends "./base.html" %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}{{ block.super }} | Add Child{% endblock title %}

{% block dashboard_styles %}
{% comment %} <link rel="stylesheet" href="{% static 'system/css/dashboard/add_child.css' %}"> {% endcomment %}
{% endblock dashboard_styles %}

{% block dashboard_content %}
<div class="add-child">
    <h2 style='title-add-child'>Add Child</h2>
    {% comment %} <form method="POST" class="add-child-form">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn-add-child">Add Child</button>
    </form> {% endcomment %}

    {% include 'system/components/form.html' with btn_text="Add Child" %}
</div>
{% endblock dashboard_content %}
