{% extends 'main.html' %}
{% load adminlte_helpers custom_tags static %}

{% block title %}Infant Immunization System - Dashboard{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'admin-lte/plugins/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'system/css/dashboard/base.css' %}">
{% block dashboard_styles %}
<style>
	.custom-table-header {
		--bs-table-bg: #0d6efd;
		--bs-table-striped-bg: #c5d7f2;
		--bs-table-striped-color: #000;
		--bs-table-active-bg: #bacbe6;
		--bs-table-active-color: #000;
		--bs-table-hover-bg: #bfd1ec;
		--bs-table-hover-color: #000;
		color: #000;
		border-color: #bacbe6;
	}
</style>
{% endblock dashboard_styles %}
{% endblock styles %}


{% block content %}
{% include 'system/components/messages.html' %}
<main class="dashboard">
	<nav class="left-nav">
		<div class="wrapper">
		  <div class="site-logo">
			<div class="logo">
				{{user.email|gravatar:80}}
				<div>
					<a href="{% url 'home' %}" class="text">GEVAC</a>
					<a href="{% url 'dashboard_profile' %}" class="d-block">{{user.username}}</a>
				</div>
			</div>
		  </div>

		  <a href="{% url 'dashboard' %}" class="item {% is_active 'dashboard' %}">
			<i class="fas fa-home"></i>
			<span class="nav-item">Dashboard</span>
		  </a>

		  <a href="{% url 'appointments' %}" class="item {% add_active 'appointments' %}">
			<i class="fas fa-calendar-alt"></i>
			<span class="nav-item">Appointments</span>
		  </a>

		  <a href="{% url 'dashboard_child_info' %}" class="item {% add_active 'dashboard_child_info' %}">
			<i class="fas fa-chart-bar"></i>
			<span class="nav-item">Child Info</span>
		  </a>

		  <a href="{% url "dashboard_profile" %}" class="item {% is_active 'dashboard_profile' %}">
			<i class="fas fa-user"></i>
			<span class="nav-item">Profile</span>
		  </a>

		  {% comment %} <a href="{% url 'dashboard_settings' %}" class="item {% is_active 'dashboard_settings' %}">
			<i class="fas fa-cog"></i>
			<span class="nav-item">Settings</span>
		  </a> {% endcomment %}
		</div>

		<div class="bottom">
		  {% if user.is_staff %}
		  <a href="{% url 'admin:index' %}" class="item admin">
			<i class="fa fa-lock"></i>
			<span class="nav-item">Admin Site</span>
		  </a>
		  {% endif %}
		  <a href="{% url 'logout' %}" class="item logout">
			<i class="fas fa-sign-out-alt"></i>
			<span class="nav-item">Log out</span>
		  </a>
		</div>
	</nav>

	<section class="dashboard_content">
		{% include 'system/components/breadcrumb.html' %}
		
		{% block dashboard_content %}
		<h2 class="dashboard-title">Services</h2>

		<section class="dashboard-card-container">
			{% url 'add_child' as url_add_child %}
			{% include "./card.html" with title="New Child Record" content="Add your child details to start tracking their vaccination status" btn_text="Add Child" btn_url=url_add_child card1=True %}
			
			{% url 'book_appointment' as url_book_appointment %}
			{% include "./card.html" with title="Schedule" content="Schedule an appointment for your child to be vaccinated" btn_text="Schedule" btn_url=url_book_appointment card2=True %}

			{% url 'appointments' as url_appointments %}
			{% include "./card.html" with title="Manage Appointments" content="View, track or reschedule your appointments" btn_text="Manage" btn_url=url_appointments card3=True %}

			{% comment %} {% url '' as  %} {% endcomment %}
			{% comment %} {% include "./card.html" with title="Generate Report" content="Join Over a Thousand Parents" btn_text="Generate" btn_url="#" card4=True %} {% endcomment %}
		</section>

		<section class="vaccine-schedules">
			<h2 class="dashboard-title">
				Upcoming Appointments <i class="fas fa-calendar" style="font-size: 20px;"></i>
			</h2>
			
			{# Appointments Table #}
			{% if appointments %}
			<div class="table-responsive">
				<table class="table table-light table-stripped table-hover">
					<thead>
						<tr class="table-success">
							<th scope="col">Appointment Date</th>
							<th scope="col">Appointment Time</th>
							<th scope="col">Child Name</th>
							<th scope="col">Vaccine</th>
							<th scope="col">Doctor Name</th>
						</tr>
					</thead>
					<tbody>
						{% for appointment in appointments %}
						<tr role="button" onclick="window.location.href='{% url 'appointment_detail' appointment.id %}'">
							<td>{{ appointment.date }}</td>
							<td>{{ appointment.time }}</td>
							<td>{{ appointment.child.full_name }}</td>
							<td>{{ appointment.vaccine }}</td>
							<td>{{ appointment.doctor.full_name }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<a href="{% url 'appointments' %}" class="btn btn-outline-primary mt-3">
				<i class="fas fa-calendar-alt"></i> All Appointments
			</a>
			{% else %}
			<p class="text-muted">You haven't booked any appointment</p> 
			{% endif %}
		</section>
		
		<section class="mt-4">
			<h2 class="dashboard-title" title="The next vaccines that should be administered">
				Vaccine Schedules <i class="fas fa-viruses"></i>
			</h2>

			{% comment %} The next vaccines to be given to the children {% endcomment %}
			{% if vaccine_schedules %}
			<div class="d-flex flex-wrap gap-3">
				{% for child, vaccine in vaccine_schedules %}
				<div class="card" style="width: 18rem;">
					<div class="card-header fw-bold">
						{{child.full_name}} ({{child.age_in_weeks_or_days}})
					</div>
					<div class="card-body">
						<h5 class="card-title">Vaccine to be given:</h5>
						<p class="card-text">
							<span class="d-block">vaccine: <b>{{vaccine.name}}</b></span>
							<span class="d-block">min. age: <b>{{vaccine.weeks_minimum_age}} week{{vaccine.weeks_minimum_age|pluralize}}</b></span>
						</p>
					</div>
				</div>
				{% endfor %}
			</div>
			{% else %}
			<p class="text-muted">There are no vaccine schedules at the moment.</p> 
			{% endif %}
		</section>
		{% endblock dashboard_content %}
	</section>
</main>
{% endblock content %}


{% block navigation %}{% endblock navigation %}
{% block footer %}{% endblock footer %}
{% block gfonts %}{% endblock gfonts %}
