{% extends 'main.html' %}
{% load custom_tags static %}

{% block title %}Infant Immunization System - Dashboard{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'admin-lte/plugins/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'system/css/dashboard/base.css' %}">
{% block dashboard_styles %}{% endblock dashboard_styles %}
{% endblock styles %}


{% block content %}
<main class="dashboard">
	{% include 'system/components/messages.html' %}
	<nav class="left-nav">
		<div class="wrapper">
		  <div class="site-logo">
			<a href="{% url 'home' %}" class="logo">
			  {{user.email|gravatar}}
			  <span class="text">GEVAC</span>
			</a>
		  </div>

		  <a href="{% url 'dashboard' %}" class="item {% is_active 'dashboard' %}">
			<i class="fas fa-home"></i>
			<span class="nav-item">Dashboard</span>
		  </a>

		  <a href="{% url "dashboard_profile" %}" class="item {% is_active 'dashboard_profile' %}">
			<i class="fas fa-user"></i>
			<span class="nav-item">Profile</span>
		  </a>
		  
		  <a href="{% url 'dashboard_child_info' %}" class="item {% is_active 'dashboard_child_info' %}">
			<i class="fas fa-chart-bar"></i>
			<span class="nav-item">Child Info</span>
		  </a>

		  <a href="{% url 'dashboard_settings' %}" class="item {% is_active 'dashboard_settings' %}">
			<i class="fas fa-cog"></i>
			<span class="nav-item">Settings</span>
		  </a>
		</div>

		<div class="bottom">
		  {% if user.is_staff %}
		  <a href="{% url 'admin:index' %}" class="item admin">
			<i class="fa fa-lock"></i>
			<span class="nav-item">Admin Site</span>
		  </a>
		  {% endif %}
		  <a href="{% url 'logout' %}" class="item logout">
			<i class="fas fa-sign-out-alt"></i>
			<span class="nav-item">Log out</span>
		  </a>
		</div>
	</nav>

	<section class="dashboard_content">
		{% block dashboard_content %}
		<h2 class="dashboard-title">Services</h2>

		<section class="dashboard-card-container">
			{% url 'add_child' as add_child %}
			{% include "./card.html" with title="New Child Record" content="Join Over a Thousand Parents" btn_text="Add Record" btn_url=add_child card1=True %}
			
			{% url 'booking' as booking %}
			{% include "./card.html" with title="Schedule" content="Join Over a Thousand Parents" btn_text="Schedule" btn_url=booking card2=True %}

			{% comment %} {% url '' as  %} {% endcomment %}
			{% include "./card.html" with title="Manage Appointment" content="Join Over a Thousand Parents" btn_text="Manage" btn_url="#" card3=True %}

			{% comment %} {% url '' as  %} {% endcomment %}
			{% include "./card.html" with title="Generate Report" content="Join Over a Thousand Parents" btn_text="Generate" btn_url="#" card4=True %}
		</section>

		<section class="vaccine-schedules">
			<h2 class="dashboard-title">
				Vaccine Schedules <i class="fas fa-viruses"></i>
			</h2>
		</section>
		{% endblock dashboard_content %}
	</section>
</main>
{% endblock content %}


{% block navigation %}{% endblock navigation %}
{% block footer %}{% endblock footer %}
{% block gfonts %}{% endblock gfonts %}
