{% extends './base.html' %}
{% load static %}

{% block title %}{{ block.super }} | Child Details{% endblock title %}

{% block dashboard_styles %}
<style>    
    .max-width { max-width: 480px; }
</style>
{% endblock dashboard_styles %}

{% block dashboard_content %}
<div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="dashboard-title mb-0">Child Details</h1>

    <button onclick="generateReport()" class="btn btn-secondary">
        <i class="fas fa-file-export"></i> Generate Report
    </button>
</div>

<main id="main-content">
    <p class="fs-5 fw-bold">
        <span class="text-muted fs-6 fw-normal">First Name:</span>
        {{ child.first_name }}
    </p>

    <p class="fs-5 fw-bold">
        <span class="text-muted fs-6 fw-normal">Last Name:</span>
        {{ child.last_name }}
    </p>

    <p class="fs-5 fw-bold">
        <span class="text-muted fs-6 fw-normal">Gender:</span>
        {% if child.gender == 'M' %}Male{% elif child.gender == 'F' %}Female{% endif %}
    </p>

    <p class="fs-5 fw-bold">
        <span class="text-muted fs-6 fw-normal">Date of Birth:</span>
        {{ child.date_of_birth }}
    </p>

    <p class="fs-5 fw-bold">
        <span class="text-muted fs-6 fw-normal">Age:</span>
        {{child.age}}
    </p>

    <h2 class="mt-5">Administered Vaccines</h2>

    {% for vaccine in child.administered_vaccines %}
    <div class="card p-3 rounded-lg mb-3 max-width">
        <b>{{vaccine.name}}</b> on {{vaccine.datetime}}
    </div>
    {% empty %} <p class="text-muted p-3">No administered vaccines for {{child.first_name}} so far</p>
    {% endfor %}
</main>

<div class="max-width d-flex align-items-center justify-content-between my-5">
    <a href="{% url 'delete_child' child.id %}" class="btn btn-outline-danger">
        <i class="fas fa-trash me-1"></i> Delete Child
    </a>
    <a href="{% url 'update_child' child.id %}" class="btn btn-outline-primary">
        <i class="fas fa-edit me-1"></i> Edit Details
    </a>
</div>
{% endblock dashboard_content %}


{% block scripts %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src={% static 'system/javascript/jspdf.plugin.autotable.js' %}></script>
<script src={% static 'system/javascript/report.js' %}></script>
<script src={% static 'system/javascript/html2canvas.min.js' %}></script>
<script>
    function generateReport() {
        const doc = generateHeaders('Child Details Report')
        const content = document.querySelector("#main-content")
        const options = {
            allowTaint: true,
            //scale: 1,
        }
        html2canvas(content, options).then(function(canvas) {
            const img = canvas.toDataURL("image/png");
            const pageWidth = doc.internal.pageSize.getWidth();
            doc.addImage(img, "PNG", 10, 50, pageWidth - 20, 90);
            doc.save("child-details-report_{{child.first_name|lower}}-{{child.last_name|lower}}.pdf")
        });
    }
</script>
{% endblock scripts %}
