{% extends 'main.html' %}

{% block title %}{{ block.super }} | About{% endblock title%}

{% block content %}
<main class="container">
	<div class="row my-4">
		<div class="col-md-6">
			<h2 class="text-center text-md-start">Our Mission</h2>
			<p class="lead text-center text-md-start">
				To provide reliable and accessible infant immunization services
				to all families, regardless of their location or socio-economic status.
			</p>
		</div>
		<div class="col-md-6">
			<h2 class="text-center text-md-start">Our Vision</h2>
			<p class="lead text-center text-md-start">
				To create a world where every child has access to life-saving
				immunization services, and no child suffers from preventable diseases.
			</p>
		</div>
	</div>

	<h2 class="mb-3">Vaccine Information</h2>
	<table class="table table-bordered d-block mb-5">
		<thead>
			<tr class="table-light">
				<th>Vaccine</th>
				<th>Disease</th>
				<th>Recommended Age</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>BCG</td>
				<td>Tuberculosis</td>
				<td>Newborns</td>
			</tr>
			<tr>
				<td>Diphtheria, Tetanus, Pertussis (DTP)</td>
				<td>Diphtheria, Tetanus, Pertussis</td>
				<td>6, 10, and 14 weeks of age</td>
			</tr>
			<tr>
				<td>Hepatitis B</td>
				<td>Hepatitis B</td>
				<td>Newborns</td>
			</tr>
			<tr>
				<td>Haemophilus influenzae type b (Hib)</td>
				<td>Haemophilus influenzae type b</td>
				<td>6, 10, and 14 weeks of age</td>
			</tr>
			<tr>
				<td>Rotavirus</td>
				<td>Rotavirus</td>
				<td>2, 4, and 6 months of age</td>
			</tr>
			<tr>
				<td>Pneumococcal conjugate vaccine (PCV)</td>
				<td>Pneumonia and Meningitis caused by Pneumococcus</td>
				<td>2, 4, and 6 months of age</td>
			</tr>
			<tr>
				<td>Influenza</td>
				<td>Influenza</td>
				<td>
					Recommended for everyone 6 months of age and older, especially
					those at high risk for complications from influenza
				</td>
			</tr>
			<tr>
				<td>Measles, Mumps, Rubella (MMR)</td>
				<td>Measles, Mumps, Rubella</td>
				<td>12 months of age and again at 15 months of age</td>
			</tr>
			<tr>
				<td>Chickenpox</td>
				<td>Chickenpox</td>
				<td>12 months of age</td>
			</tr>
			<tr>
				<td>Shingles</td>
				<td>Shingles</td>
				<td>Recommended for adults 60 years of age and older</td>
			</tr>
			<tr>
				<td>Meningococcal conjugate vaccine (MCV)</td>
				<td>Meningitis caused by Meningococcus</td>
				<td>
					Adolescents 11-12 years of age and adults at high risk for
					meningococcal disease
				</td>
			</tr>
		</tbody>
	</table>
</main>
{% endblock content %}