{% extends "main.html" %}
{% load static %}

{% block title %}{{ block.super }} | Contact{% endblock title%}

{% block content %}

<div class="contact-form">
    <img class="image1" src="{% static 'system/images/dad.jpeg' %}" alt="hospital_photo">
    <img class="image2" src="{% static 'system/images/team.jpeg' %}" alt="hospital_photo">
</div>

<div class="location">
    <div class="little-known">
        <p>
            Little known curious fact
        </p>
    </div>
    <div class="hope">
        <p>
            Amidst the bustling cityscape, a new infant vaccination app has emerged as a beacon of hope and care for
            families. What sets this app apart is its unique approach to creating a comforting and engaging experience
            for both parents and infants.
        </p>
        <br>
        <br>
        <h1>Kenya and beyond</h1>
        <p>
            In the realm of infant vaccination, our app extends its assistance beyond Kenya and into various corners of
            the world. We are dedicated to supporting brands of all types, whether local or global, established or just
            starting up.
        </p>
        <br>
        <br>
        <h1>Curious?</h1>
        <p>
            Email <a href="mailto:onlinemane51@gmail.com">Albert</a> to give to provide feedback and
            learn more about our services.
            <br>
            <br>
            Call us on <a href="tel:+254743219087">+254 743 219 087</a>
        </p>
        <br>
        <br>
        <h1>Address</h1>
        <p>
        <address class="address">
            Woodly Street, Kawangware<br>
            Kenya.
        </address>
        </p>
    </div>


</div>




{% endblock %}