{% extends 'main.html' %}
{% load static %}

{% block title %}{{ block.super }} | Home{% endblock title%} 

{% block content %}
<div class="intro">
    <div class="statement">
        <h1 class="sentiment">
            <p>Digitally transforming  </p>
            <p>immunization practices  </p>
            <p>across the globe</p> 
            <p>our little ones.</p>
        </h1>
    </div>

    <div class="pic">
    </div>
</div>

<hr>

<div class="our-thing">        
    <div class="purpose">
        <h1 class="capture"></h1>
        <div class="wrapper">
            <h2 class="one-thing">Our one thing</h2>
            <img class="img1" src="{% static 'system/images/hepatitis_a-transformed.jpeg' %}" alt="Vaccine">
            <p class="short">
                We believe in safeguarding the well-being of our precious children and ensuring
                their healthy and vibrant future. With every click and every visit, we strive
                to empower parents and caregivers like you to make informed
                decisions about immunization.
            
                    <br>
                    <br>
                Join us on this journey to fortify the foundation of our children's lives.
                    <br>
                Remember, every vaccination counts and every child's
                health matters. We are here to support you every step of the way.
            </p>
            <div class="praise">
                <h1 class="ourmission">Our Pivotal Quest</h1>
                <p>
                    Our utmost priority has always been the protection and well-being of little one 
                    and it brings us immense satisfaction to be able to understand
                    the exact needs and concerns of our growing audience in the context of infant vaccination.
                    By capturing this understanding in a comprehensive system, we have created a brand that not
                    only appeals visually but also reflects the essence of who we are as a company dedicated 
                    to infant immunization.

                </p>
                
            </div>
            <img class="img2" src="{% static 'system/images/measles-transformed.jpeg' %}" alt="measles transformed">
            <img class="img3" src="{% static 'system/images/child1-transformed.jpeg' %}" alt="child transformed">
            <img class="img4" src="{% static 'system/images/withparents-transformed.jpeg' %}" alt="Happy">
        </div>
    </div>
</div>
{% endblock content %}
