<!-- home.html -->


{% extends 'main.html' %}
{% load static %}


{% block content %}
    <!-- Specific content for the home page -->
    <div class="intro">
        
            <div class="statement">
                <h1 class="sentiment">
                   <p>Digitally transforming immunization </p>
                   <p>pratices across the globe and building </p> 
                   <p>a shield of health for our little ones.</p>
                    
                    
              
                </h1>
            </div>
        <div class="pic">
            

        </div>     

    </div>

    <hr>


    <div class="our-thing">
        
        <div class="purpose">
            <h1 class="capture">
                <h2>Our one thing</h2>
                <div class="vaccine">

                </div>
                <div class="happy">

                </div>
                
          
            </h1>
        </div>
      <div class="container-1">
                <p class="short">
                    We believe in safeguarding the well-being of our precious children and ensuring
                    their healthy and vibrant future. With every click and every visit, we strive
                    to empower parents and caregivers like you to make informed
                    decisions about immunization.
                        <br>
                        <br>
                    Join us on this journey to fortify the foundation of our children's lives. Let's 
                    celebrate the milestones, cherish the laughter and protect the innocence that
                    defines childhood. Together, we can build a healthier and brighter tomorrow for
                    our little superheroes.
                
                        <br>
                        <br>
                    
                    Remember, every vaccination counts and every child's
                    health matters.We are here to support you every step of the way.


                </p>
                <div class="vaccine2">

                </div>
                <div clas="praise">
                    <br>
                    <br>
                    <br>
                    <h1 class="ourmission">Our mission critical</h1>
                    Our utmost priority has always been the protection and well-being of little one 
                    and it brings us immense satisfaction to be able to understand
                    the exact needs and concerns of our growing audience in the context of infant vaccination.
                    By capturing this understanding in a comprehensive system, we have created a brand that not
                    only appeals visually but also reflects the essence of who we are as a company dedicated 
                    to infant immunization.
                </div>
                <div class="happier">
                    
                </div>
                
                
       </div>     

</div>
<hr>
<br>
<br>
<br>
<br>
<hr>


    
   
    
{% endblock %}
