<!-- home.html -->
{% extends 'main.html' %}

{% block content %}
    <!-- Specific content for the home page -->
    
    <pre>
        <h1 class="hero-h1">
        
            Digitally transforming immunization 
            pratices across the globe and building 
            a shield of health for our little ones.
      
    </h1>

    </pre>
    
    <hr>
    <div class="purpose">
        <h2>Our one thing</h2>
    </div>

    <pre>
        <p class="short">
            We believe in safeguarding the well-being of our precious children and ensuring
            their healthy and vibrant future. With every click and every visit, we strive
            to empower parents and caregivers like you to make informed
            decisions about immunization.

            Join us on this journey to fortify the foundation of our children's lives. Let's 
            celebrate the milestones, cherish the laughter and protect the innocence that
            defines childhood. Together, we can build a healthier and brighter tomorrow for
            our little superheroes.
            
            Remember, every vaccination counts and every child's
            health matters.We are here to support you every step of the way.

            Explore, learn, and safeguard their future with us.

        </p>
    </pre>
   



    
   
    
{% endblock %}
