{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{%static 'system/css/login.css'%}" />
  </head>
  <body>
    <div class="logo"><h1>GEVAC</h1></div>
    <div class="login-box">
      <h1>Login</h1>
      <form method="POST">
        {{ form }}
        {% csrf_token %}
        <input type="button" value="Submit" />
      <closeform></closeform></form>
    </div>
    <p class="para-2">
      Not have an account? <a href="{% url 'register' %}">Sign Up Here</a>
    </p>
  </body>
</html>

  