{% extends 'main.html' %}
{% load static %}

{% block title %}Sign Up - Infant Immunization System{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'system/css/register.css' %}">
{% endblock styles %}


{% block content %}
{% include 'system/components/messages.html' %}
<div class="brand">GEVAC</div>

<div class="signup-box">
  <h1 class="title">Sign Up</h1>

  <form method="POST" id="form">
    {{user_form.as_p}}
    {% csrf_token %}
    
    <input type="submit" id="btn-submit" value="Create Account">
  </form>
</div>

<p class="para-2">
  Already have an account? <a href="{% url 'login' %}">Login here</a>
</p> 
{% endblock content %}

{% block navigation %}{% endblock navigation %}
{% block footer %}{% endblock footer %}
{% comment %} {% block bootstrap %}{% endblock bootstrap %} {% endcomment %}
{% block gfonts %}{% endblock gfonts %}
