{% extends "system/dashboard/base.html" %}
{% load static %}

{% block title %}{{ block.super }} | Appointment Detail{% endblock title %}

{% block dashboard_styles %}
<style>
    .appointment p span {
        font-weight: bold;
    }
</style>
{% endblock dashboard_styles %}

{% block dashboard_content %}
<main class="flex-container">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h2 class="dashboard-title mb-0">Appointment Detail</h2>

        <button onclick="generateAppointmentReport()" class="btn btn-secondary">
            <i class="fas fa-file-export"></i> Generate Report
        </button>
    </div>

    <div id="main-content">
    <div class="appointment">
        <p class="fs-5">
            <span class="text-muted fs-6">Child:</span> {{appointment.child.full_name}}
        </p>
        <p class="fs-5">
            <span class="text-muted fs-6">Date:</span> {{appointment.date}}
        </p>
        <p class="fs-5">
            <span class="text-muted fs-6">Time:</span> {{appointment.time}}
        </p>
        <p class="fs-5">
            <span class="text-muted fs-6">Vaccine:</span> {{appointment.vaccine}}
        </p>
        <p class="fs-5">
            <span class="text-muted fs-6">Status:</span> {% if appointment.completed %}Completed{% else %}Not Completed{% endif %}
        </p>
    </div>

    {% if appointment.completed %}
    <h5 class="h5 fw-bold">Appointment Feedback</h5>
    
    {% for feedback in feedbacks %}
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text">{{feedback}}</p>
        </div>
      </div>
    {% empty %}
    <p class="text-muted mb-3">You haven't added any feedback yet.</p> 
    {% endfor %}
    </div>

    {% include 'system/components/form.html' with btn_text="Submit Feedback" %}
    {% endif %}

    {% if not appointment.completed %}
    <div class="d-flex align-items-center justify-content-between" style="max-width: 480px">
        <a href="{% url 'reschedule_appointment' appointment.id %}" class="btn btn-outline-primary mt-3">
            <i class="fas fa-edit"></i> Reschedule
        </a>
        
        <a href="{% url 'cancel_appointment' appointment.id %}" class="btn btn-outline-danger mt-3">
            <i class="fas fa-times"></i> Cancel
        </a>
    </div>
    {% endif %}
</main>
{% endblock dashboard_content %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src={% static 'system/javascript/jspdf.plugin.autotable.js' %}></script>
<script src={% static 'system/javascript/report.js' %}></script>
<script src={% static 'system/javascript/html2canvas.min.js' %}></script>
<script>
    function generateAppointmentReport() {
        const doc = generateHeaders('Appointment Details Report')
        const content = document.querySelector("#main-content")
        const options = {
            allowTaint: true,
            //scale: 1,
        }
        html2canvas(content, options).then(function(canvas) {
            const img = canvas.toDataURL("image/png");
            const pageWidth = doc.internal.pageSize.getWidth();
            doc.addImage(img, "PNG", 10, 50, pageWidth - 20, 90);
            doc.save("appointment-detail.pdf")
        });
    }
</script>
{% endblock scripts %}