.reset-done {
	/* background-color:#fff; */
	text-align: center;
	min-height: 100vh;
	background-color: #fff;
}

.reset-done i {
	/* display: flex; */
	font-size: 115px;
	justify-content: center;
	margin-top: 15%;
	size-adjust: 30px;
	color: green;
	cursor: pointer;
}

.reset-done p {
	font-size: 1.3em;
}