@font-face { 
    font-family: TT Wellingtons Trial Regular;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Regular.otf);
  }
  
@font-face {
  font-family: TT Wellingtons Trial Bold;
  src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Bold.otf);
  }
@font-face {
    font-family: TT Wellingtons Trial DemiBold;
    src: url(/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ DemiBold.otf);
} 
.reset-complete{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    height:70vh;
    text-align: center;
    font-size: 1.3em;  
}
.reset-complete a{
    color: blue;
}
.reset-complete i{
    font-size: 115px;
    justify-content: center;
    margin-top: 9%;
    size-adjust: 30px;
    color: green;
    cursor: pointer;
}   