.welcome-message {
	background-color: #fff;
	height: 71vh;
}

.welcome-message h1 {
	padding-top: 2%;
}

.welcome-message p {
	text-align: left;
	font-size: 1.3em;
	padding-top: 2%;
	color: blue;
}

.welcome-message a {
	color: green;
	text-decoration: underline;
}