body {
	background-color: rgb(41, 51, 82);
}

.brand {
	color: white;
	font-size: 2.5rem;
	font-weight: 900;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

.signup-box {
	width: 360px;
	margin: auto;
	border-radius: 16px;
	background-color: white;
	padding: 1rem;
}

.title {
	text-align: center;
	font-weight: 700;
}

#form p {
	margin-bottom: 0;
}

#form label {
	display: block;
	margin-top: 8px;
	font-size: 18px;
}

#form input {
	width: 100%;
	padding: 8px 16px;
	border: 1px solid gray;
	border-radius: 6px;
}

#btn-submit {
	font-family: inherit;
	border: none;
	margin-top: 16px;
	background-color: blue;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border-radius: 6px;
	padding: 8px 16px;
}

.para-2 {
	text-align: center;
	color: white;
	font-size: 20px;
	margin-top: 1rem;
}

.para-2 a {
	color: #49c1a2;
}

.errorlist {
	color: rgba(255, 0, 0, .8);
}