{% extends "main.html" %}
{% load static %}

{% block title %}Infant Immunization Booking System | Password Reset Done{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'system/css/auth/password_reset_done.css' %}">
{% endblock styles %}

{% block content %}
<div class="reset-done">
	<i class="fas fa-check"></i>
	<p>
		We have emailed you instructions for setting your password.
	</p>
	
	<p>
		If you don't receive an email, please make sure
		you've entered the address you registered with.
	</p>
</div>
{% endblock content %}
