{% extends "main.html" %}
{% load static %}

{% block title %}Infant Immunization Booking System | Forgot Password{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'system/css/auth/password_reset_form.css' %}">
{% endblock styles %}

{% block content %}
<div class="password-reset-form">
    <div class="forgotten_password mt-5">
        <h1>Forgotten Password?</h1>
        <p>Enter your e-mail address to obtain a new password.</p>
    </div>
    <div class="reset-section">
        <form class="actual-reset-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Send e-mail" />
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    const email = document.querySelector("#id_email");
    if (email) email.placeholder = "Enter email..."

    const helpText = document.querySelector("small.form-text.text-muted");
    if (helpText) helpText.style.display = "none";
</script>
{% endblock scripts %}