{% extends "main.html" %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="password-reset-form">
        <div class="forgotten_password">
            <h1>Forgotten Password?</h1>
            <p>Enter your e-mail address to obtain a new password.</p>
        </div>
        <div class="reset-section">
            <form class="actual-reset-form" method="post">
                {{ form.as_p }}
                <p><input type="submit" value="Send e-mail"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}