{% extends "main.html" %}
{% load static %}

{% block title %}Infant Immunization Booking System | Password Reset Complete{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'system/css/auth/password_reset_complete.css' %}">
{% endblock styles %}

{% block content %}
    <div class="reset-complete">
        <i class="fas fa-check"></i>
        <p>Your password has been set. You can <a href="{% url "login" %}">Login
        now.</a></p>

    </div>        
{% endblock %}
