{% extends "main.html" %}
{% load static %}


{% block title %}Infant Immunization Booking System | Reset your password{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'system/css/auth/password_reset_confirm.css' %}">
{% endblock styles %}


{% block content %}
<div class="confirm pt-5">
    <h1 class="mb-3">Reset Your Password</h1>
    
    {% if validlink %}
        <p>Please enter your new password twice:</p>

        <form method="post" class="center-form">
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group mb-3">
                <label for="{{ field.id_for_label }}" class="form-label fw-bold mb-1{% if field.errors %} is-invalid{% endif %}">{{ field.label|add:":" }}</label>

                {{ field.as_widget }}

                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}

                {% if field.errors %}{% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}{% endif %}
            </div>
            {% endfor %}
            
            <input type="submit" value="Change my password" />
        </form>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already
            been used. Please request a new password reset.
        </p>
    {% endif %}
</div>        
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    const p1 = document.querySelector("#id_new_password1");
    const p2 = document.querySelector("#id_new_password2");
    if (p1) p1.placeholder = "Enter password..."
    if (p2) p2.placeholder = "Confirm password..."

    const helpText = document.querySelector("small.form-text.text-muted");
    helpText.style.display = "none";
</script>
{% endblock scripts %}
